* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    margin: 0;
    --musican-color: #387CA3;
    --musican-background: #52ADC8;
    --musican-color-acc: #55C39E;
    display: block;
}
.mainBody {
    width: 100%;
    height: 100vh;
    background: #a9a9a9;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 0;
}
#sidebar {
  height: 100%;
  background: var(--musican-color-acc);
  text-align: center;
  color: black;
}
p {
    color: black;
}
.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .material-icons-outlined,
.follow,
.musican {
    padding: 20px;
}

.musican {
    display: block;
    border-radius: 45px;
    max-width: 245px;
    max-height: 256px;
    width: auto;
    height: auto;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--musican-background);
    border-radius: 30px;
    color: var(--musican-color-acc);
    transition: color 100ms ease-out;
}

.active {
    color: var(--musican-color-acc);
}


.sidebar {
    border-right: 1px solid var(--musican-background);
    flex: 0.2;
    min-width: 250px;
    padding-top: 50px;
    margin-top: 20px;
    padding-left: 20px;
    padding-left: 20px;
}

header {
    display: flex;
    /* Using flexbox property for parent
    also known as inline-flex */
    justify-content: space-between;
    /* Items are evenly distributed in
    the line; firstitem is on the
    start line, last item on the
    end line*/
    align-items: center;
    padding: 5px;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}


a:hover {
    border-bottom: 2.4 solid green;
    color: var(--musican-color-background);
    text-decoration: underline;
}

.container{
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.music {
    width: 200px;
    height: 200px;
    border: 1px solid #333333;
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px;
    vertical-align: top;
    position: relative;
    background-size: cover;
    background-position: center;


}

.music::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.player {
    width: 90%;
    max-width: 900px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(red, 0,0,0.4);
    background: #52ADC8;
    color: #555;
    border-radius: 8px;
}
.track {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.track img {
    width: 70px;
    margin-right: 30px;
    cursor: pointer;
}

.track div {
    flex: 1;
}


 /* Make the image fully responsive */
 .carousel-inner img {
    width: 200px;
    height: 200px;
   
  }
