* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    --musican-color: #387CA3;
    --musican-background: #52ADC8;
    --musican-color-acc: #55C39E;
    display: flex;
    height: 100vh;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    padding-top: 56px;

}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .material-icons-outlined,
.follow,
.musican {
    padding: 20px;
}

.musican {
    display: block;
    border-radius: 45px;
    max-width: 245px;
    max-height: 256px;
    width: auto;
    height: auto;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--musican-background);
    border-radius: 30px;
    color: var(--musican-color-acc);
    transition: color 100ms ease-out;
}

.active {
    color: var(--musican-color-acc);
}


.sidebar {
    border-right: 1px solid var(--musican-background);
    flex: 0.2;
    min-width: 250px;
    padding-top: 50px;
    margin-top: 20px;
    padding-left: 20px;
    padding-left: 20px;
}

header {
    display: flex;
    /* Using flexbox property for parent
    also known as inline-flex */
    justify-content: space-between;
    /* Items are evenly distributed in
    the line; firstitem is on the
    start line, last item on the
    end line*/
    align-items: center;
    padding: 5px;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}


a:hover {
    border-bottom: 2.4 solid green;
    color: var(--musican-color-background);
    text-decoration: underline;
}

.container{
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.music {
    width: 200px;
    height: 200px;
    border: 1px solid #333333;
    display: inline-block;
    margin-top: 50px;
    margin-right: 20px;
    vertical-align: top;
    position: relative;
    background-size: cover;
    background-position: center;


}

.music::before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Boostrap menus */
.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {

    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .slider {
    width: 100%;
    /*
    max-width: 800px;
    height: 350px;
    */
    max-width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden; 
    border-radius: 15px;
  }
  
  .slide {
    width: 100%;
     /*
    max-width: 800px;
    height: 350px;
    */
    max-width: 200px;
    height: 200px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  .btn:active {
    transform: scale(1.1);
  }
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }