{% extends "musican/layout.html" %}
{% load static %}
{%block head%}
<head>
    <title>{% block title %}Musican{% endblock %}</title>
  
    <script src="https://unpkg.com/wavesurfer.js@6.4.0/dist/wavesurfer.js"></script>
  </head>
{%endblock%}
{% block body %}
<div>
    {% if message %}
    <div class="alert alert-{{msg_type}}">{{ message }}</div>
    {% endif %}
    <br />
  
 <!-- Start Container -->

 <div class="row" id="right_panel">
    {% for song in songs %}

    <div class="col" >
      <a id="clickIt"
       href="{% url 'show_player' song.id %}">
        {% if song.picture %}
        <img class="music" src="{% static song.picture.url %}" alt="" />
        {% else %}
        <img
          class="music"
          src="{% static 'musican/images/No_Image_Available.jpeg' %}"
          alt=""
        />
        {% endif %}
        <h2>{{ song.title }}</h2>
      </a>
    </div>
    {%endfor%}
  </div>
  <!-- End Container -->
  <!--player starts-->
  <!-- Second Player -->
  <div class="container" id="player" style="display: none">
    <div class="music-player" id="player_inside">
        
      <button id="closeBtn"></button>
      <img
        src="{% static 'musican/images/No_Image_Available.jpeg' %}"
        alt="music-icon"
        id="song_image"
      />
      <div class="info">
        <h4 id="artist_name"></h4>
        <h5 id="song_title"></h5>
        <div id="waveform"></div>
        <div class="control-bar">
          <img
            src="{% static 'musican/images/play.png' %}"
            alt="play"
            id="playBtn"
            title="Play / Pause"
          />
          <img
            src="{% static 'musican/images/stop.png' %}"
            alt="stop"
            id="stopBtn"
            title="Stop"
          />
          <img
            src="{% static 'musican/images/volume.png' %}"
            alt="volume"
            id="volumeBtn"
            title="Mute / Unmute"
          />
          <img
            src="{% static 'musican/images/favorite.png' %}"
            alt="playlist"
            id="likeBtn"
            onclick="addRemove();"
            title="Add / Remove playlist"
          />
          <form action="{% url 'add_to_playlist' 1 %}" method="POST">
            {% csrf_token %}
            <button
              type="submit"
              name="button"
              value="Watchlist"
              class="btn btn-secondary btn-sm"
            >
              Add to Playlist
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
 
  <!--player ends-->

{% endblock %}