{% extends "musican/layout.html" %}
{% load static %}


{%block head%}
<head>
    <title>{% block title %}Musican{% endblock %}</title>
    
   
   
</head>
{%endblock%}
{% block body %}

<!-- Main Body-->
<div>
    <br />
    <!-- carrousel -->
    <div class="container">
        <div id="gallery" class="carousel slide" data-ride="carousel" >
  
            <!-- The slideshow -->
            <div class="carousel-inner">
              
                {% for song in music %} 
              <div class="carousel-item {% if forloop.counter0 == 0 %}active {% endif %}" data-interval="3000">
                
                <img  src="{% static song.picture.url %}"  class="rounded-circle img-fluid" alt="..." width="200" height="200">
                <div class="carousel-caption d-none d-md-block">
                    
                    <p class="songTitle">{{song.title}}</p>
                  </div>
                
              </div>
              {%endfor%}
              
            
            </div>
            
           
          </div>
  </div>

    <!-- carrousel -->

    <!-- Start Container -->
        
        <div class="row">
            {% for song in music %} 
            <div class="col">
                
                {% if song.picture %}
                <img class=" music" src="{% static song.picture.url %}" alt="" />
                {% else %}
                <img class="music" src="{% static 'musican/images/No_Image_Available.jpeg' %}" alt="" />
                {% endif %}
                <p class="songTitle">{{ song.title }}</p>
            
            </div>
            {%endfor%}
        </div>
        <!-- End Container -->
        <!-- Player start -->
        <div class="player">
            <p class="songTitle">Artist: Nombre</p>
            <h1> Titulo de la cancion </h1>
            <div class="track">
                <img src="{% static 'musican/images/play.png' %}" alt="" id="playBtn">
                <div id="waveform"></div>
            </div>
        </div>
        <!-- Player ends -->
        <script>
            // Play Button
            var playBtn = document.getElementById("playBtn");

            var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: '#ddd',
            progressColor: '#ff006c',
            barWidth: 4,
            responsive: true,
            height: 90,
            barRadius: 4
        });
            wavesurfer.load("static/musican/images/songs/Son_MENTIRAS.mp3");

            playBtn.onclick = function() {
                wavesurfer.playPause();
                // Change button img accordingly
                if(playBtn.src.includes("play.png")) {
                    playBtn.src = "{% static 'musican/images/pause.png' %}";
                } else {
                    playBtn.src = "{% static 'musican/images/play.png' %}";
                } // End if
            } // End onclick

            wavesurfer.on('finish', function(){
                playBtn.src = "{% static 'musican/images/play.png' %}";
                wavesurfer.stop();
            })
        </script>
    </div>
<!-- Main Body ends -->



{% if music.count == 0 %}
<div class="alert alert-danger"> There's no items for this Genre</div>
{% endif %}
{% for listing in listings %}
{% if listing.active %}
<div class="container border p-2 m-2">
    <div class="row">
        <div class="col">
            {% if listing.image %}
            <img src="{% static listing.image.url %}" alt="" style="width:300px; height: auto;" />
            {% else %}
            <img style="width: 20w;" src="{% static 'musican/images/No_Image_Available.jpeg' %}" alt=""
                style="width:300px; height: auto;" />
            {% endif %}
        </div>
        <div class="col text-left">
            <h2 class="display-4"> <a href="{% url 'list_item' listing.id %}">{{ listing.title }}</h2></a>
            {{ listing.description }}
            {% if listing.current_bid == 0 %}
            <h2>${{ listing.starting_bid }}</h2>
            {% else %}
            <h2>${{ listing.current_bid }}</h2>
            {% endif %}
            <p>Added: {{ listing.time_added }}</p>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}