{% extends "musican/layout.html" %} {% load static %} {%block head%}
<head>
  <title>{% block title %}Musican{% endblock %}</title>

  <script src="https://unpkg.com/wavesurfer.js@6.4.0/dist/wavesurfer.js"></script>
</head>
{%endblock%} {% block body %}

<!-- Main Body-->
<div>
  {% if message %}
  <div class="alert alert-{{msg_type}}">{{ message }}</div>
  {% endif %}
  <br />
  <!-- carrousel -->
  <div class="container">
    <div id="gallery" class="carousel slide" data-ride="carousel">
      <!-- The slideshow -->
      <div class="carousel-inner">
        {% for song in music %}
        <div
          class="carousel-item {% if forloop.counter0 == 0 %}active {% endif %}"
          data-interval="3000"
        >
          <img
            src="{% static song.picture.url %}"
            class="rounded-circle img-fluid"
            alt="..."
            width="200"
            height="200"
          />
          <div class="carousel-caption d-none d-md-block">
            <p class="songTitle">{{song.title}}</p>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>

  <!-- carrousel -->

  <!-- Start Container -->

  <div class="row">
    {% for song in music %}
    <div class="col">
      <a
        id="clickIt"
        onclick="loadSong(`{{ song.title }}`, `{{ song.song }}`, `{{ song.artist }}`, `{{ song.picture }}`, `{{ song.id }}`);return false;"
        href="#"
      >
        {% if song.picture %}
        <img class="music" src="{% static song.picture.url %}" alt="" />
        {% else %}
        <img
          class="music"
          src="{% static 'musican/images/No_Image_Available.jpeg' %}"
          alt=""
        />
        {% endif %}
        <p class="songTitle">{{ song.title }}</p>
      </a>
    </div>
    {%endfor%}
  </div>
  <!-- End Container -->
  <!--player starts-->
  <!-- Second Player -->
  <div class="container" id="player" style="display: none">
    <div class="music-player" id="player_inside">
      <button id="closeBtn"></button>
      <img
        src="{% static 'musican/images/No_Image_Available.jpeg' %}"
        alt="music-icon"
        id="song_image"
      />
      <div class="info">
        <h1 id="artist_name">Artist Name</h1>
        <h3 id="song_title">Titulo de la cancion</h3>
        <div id="waveform"></div>
        <div class="control-bar">
          <img
            src="{% static 'musican/images/play.png' %}"
            alt="play"
            id="playBtn"
            title="Play / Pause"
          />
          <img
            src="{% static 'musican/images/stop.png' %}"
            alt="stop"
            id="stopBtn"
            title="Stop"
          />
          <img
            src="{% static 'musican/images/volume.png' %}"
            alt="volume"
            id="volumeBtn"
            title="Mute / Unmute"
          />
          <img
            src="{% static 'musican/images/favorite.png' %}"
            alt="playlist"
            id="likeBtn"
            onclick="addRemove();"
            title="Add / Remove playlist"
          />
          <form action="{% url 'add_to_playlist' 9 %}" method="POST">
            {% csrf_token %}
            <button
              type="submit"
              name="button"
              value="Watchlist"
              class="btn btn-secondary btn-sm"
            >
              Add to Watchlist
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'musican/musicPlayer.js' %}"></script>
  <script type="text/javascript">
    // function aqui(value,value1) {
    // console.log(value,value1);
    // console.log("cojollo");
    // }

    // $('a#clickIt').click(function(){ console.log("hola"); })
  </script>

  <!--player ends-->
</div>
<!-- Main Body ends -->

{% endblock %}
