{% extends "musican/layout.html" %}
{% load static %}
{%block head%}
<head>
  <title>{% block title %}Musican Playlists{% endblock %}</title>
  
  <script src="https://unpkg.com/wavesurfer.js@6.4.0/dist/wavesurfer.js"></script>

</head>
{%endblock%}

{% block body %}

<div class="container">
  <div class="header">
      <ul class="nav nav-pills pull-leftt">
          <li><a href="/"><i class="fa fa-home"></i></a></li>
      </ul>

      <h1 itemprop="name">Playlist</h1>
  </div>

  <div id="demo">
      <div class="row" style="margin: 30px 0">
          <div class="col-sm-10">
              <div id="waveform"></div>
              <div class="control-bar">
                <img
                  src="{% static 'musican/images/play.png' %}"
                  alt="play"
                  id="playBtn"
                  title="Play / Pause"
                />
                <img
                  src="{% static 'musican/images/stop.png' %}"
                  alt="stop"
                  id="stopBtn"
                  title="Stop"
                />
                <img
                  src="{% static 'musican/images/volume.png' %}"
                  alt="volume"
                  id="volumeBtn"
                  title="Mute / Unmute"
                />
              </div>
          </div>

          <div class="col-sm-2">
              <button class="btn btn-success btn-block" id="playPause" style="display:none;">
                  <span id="play">
                      <i class="fa fa-play"></i>
                      Play
                  </span>

                  <span id="pause" style="display: none">
                      <i class="fa fa-pause"></i>
                      Pause
                  </span>
              </button>
          </div>
      </div>
{% for listing in mylist %}
    
<div class="list-group" id="playlist">
  <a href="{% static 'musican/images/' %}{{listing.song_added.song}}"  class="list-group-item">
      <span id="playPause"> <i class="fa fa-play"></i></span>
      {{listing.song_added.title}}
      <span class="badge" id="currentTime">00:00:00</span>
  </a>
</div>
</div>
{% endfor %}
</div>
<script src="{% static 'musican/playlist.js' %}"></script>
{% endblock %}