* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption,
.material-icons-outlined,
.fa-twitter,
.follow {
    padding: 20px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--twitter-color);
}

.btn_tweet {
    width: 80px;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-left: 20px;
}

.fa-twitter {
    color: var(--twitter-color);
    font-size: 30px;
}

a {
    all: unset;
    text-decoration: none;
}

.feed {
    flex: 0.75;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed_header h2,
h3,
h4 {
    font-size: 20px;
    font-weight: 800;
}

.tweetbox_input img {
    border-radius: 50%;
    height: 40px;
}

.card {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;

}

.card form {
    display: flex;
    flex-direction: column;
}

.tweetbox_input {
    display: flex;
    padding: 20px;
}

.input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.post_avatar img {
    border-radius: 50%;
    height: 40px;
}

.post_avatar {
    padding: 20px;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post_footer {
    display: flex;
    margin-top: 10px;
}

.body_text h3 {
    font-size: 15px;
    margin-bottom: 5px;

}

.body_text {
    flex: 1;
    padding: 10px;
}

.date {
    display: flex;
    font-size: 15px;
    margin-bottom: 5px;
    float: right;
}

.like-button {
    cursor: pointer;
    user-select: none;
}

.like-button:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.follow {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.follow:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}