* {
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto, arial, sans-serif;
}


a {
    color: #8ab4f8;
    cursor: pointer;
}


.top_nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.top_nav a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    margin-right: 20px;
}

.top_nav a:hover {
    text-decoration: underline;
}

.top_nav_right {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.top_nav_right .top_nav_right__apps {
    margin-right: 10px;
}


.mainBody {
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.mainBody img {
    object-fit: contain;
    height: 100px;
}


.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search__input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search__input .material-icons {
    color: gray;
}

.search__buttons {
    display: block;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search__buttons button {
    margin: 11px 4px;
    padding: 8px 16px;
    background-color: #f8f9fa;
    outline: none;
    border: none;
    cursor: pointer;
    border-style: none;
}

input[type="submit"] {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="submit"]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}