{% extends "network/layout.html" %}
{% load static %}


{% block body %}


<div class="feed">
<div class="feed_header">
    <h3>{{username}}</h3>
    <div class="post_avatar">
        <img src="/static/network/profile.png" />
    </div>
</div>

    {% if user.is_authenticated and user.username != username %}
        {% if check_follow %} 
            <div class="sidebarOption">
                <i class="fa fa-user-times" aria-hidden="true"></i>
                <a href="{% url 'unfollow_user' username=username %}"> Unfollow</a>
            </div>    
        {% else %} 
            <div class="sidebarOption">        
                <i class="fa fa-user-plus" aria-hidden="true"></i> 
                <a href="{% url 'follow_user' username=username %}"> Follow</a>
            </div>            
        {% endif%}

    {% endif%}

    <h4> Followers: {{ followers.count }}</h4>
    <h4> Following: {{ following.count }}</h4>


<!-- TODO-->
<!-- Need to convet this part to JS-->
<!-- Or move it to a separate fiel nd use in all posts and index ?????-->
<hr>


    {% for post in posts %}

        <div class="post">
            <div class="post_header">
                <div class="date">{{ post.posted_on }}</div>
                <div class="post_avatar">
                    <img src="/static/network/profile.png" />
                </div>
                <div class="body_text">
                    <h3> {{ post.content }}</h3>
                </div>
                <div class="post_footer">
                    <span class="material-icons-outlined like-button"> favorite_border</span>{{post.num_likes.count}}
                </div>
            </div>
        </div>
        <hr>

    {% endfor %}
</div>
<!-- pages -->
<div>
    <span>
        {% if pages.has_previous %}
            <a href="?page=1"> First</a>
            <a href="?page={{ pages.previous_page_number }}"> Previous</a>
        {% endif %}
        <span>
            Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
        </span>
        {% if pages.has_next %}
            <a href="?page={{ pages.next_page_number }}"> Next</a>
            <a href="?page={{ pages.paginator.num_pages }}"> Last</a>
        {% endif %}
    </span>
</div>

<div id="message-div"></div>
{% block script %}
            <script src="{% static 'network/like.js' %}"></script>
{% endblock %}
{% endblock %}