textarea {
    min-height: 400px;
}



.sidebar {
    height: 200px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 80px;
    
    }
    
    .sidebar div {
    padding: 8px;
    font-size: 12px;
    display: block;
    }
    
    .body-text {
    margin-left: 150px;
    font-size: 18px;
    }